@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


:root{
    --primary-color: #fbbf24;
    --width-break: 600px;
}

body{
    font-family: 'Cedarville Cursive', 
    cursive;
    margin: 0px;
}


.main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

.image{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: -10;
}

img{
    max-width: 100%;
    height: 800px;
    filter: blur(10px);
}

.navigation{
    display: block;
    background-color: var(--primary-color);
    text-align: center;
}

textarea{

    font-size: large;
    font-family: inherit;
    border: none;
    margin-top : 2rem;
    padding-top: 1rem;
    display: block;
    width: 100%;
    height: 20vh;
}

button{
    box-sizing: border-box;
    background-color: var(--primary-color);
    border:none;
    margin: 1rem 0rem;
    font-size: large;
    font-family: inherit;
    width: 30%;
    padding: 0;
}

#output{
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid black;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    box-sizing: border-box;
    font-family: inherit;
    font-family: inherit;
    text-align: center;
}

footer p{
    max-width: var(--width-break);
    margin: auto;
    padding: 0rem;
}